///////////////////////////////////
// GENERAL
body {
  font-size: 1.6rem;
  font-family: $font-primary;
  font-weight: 400;
  color: $color-neutral;
  line-height: 1;
}

a {
  color: $color-neutral;
}

///////////////////////////////////
// UTILITIES

// FONTS
.u-h1 {
  font-size: 4rem;
  font-weight: $bold;
  line-height: 1.1;
}

.u-h2 {
  font-size: 3rem;
  font-weight: $bold;
}

.u-h3 {
  font-size: 1.5rem;
  font-weight: $bold;
}

// VISIBILITY
.invisible {
  display: none !important;
}

///////////////////////////////////
// CONTAINER
.container {
  max-width: 102rem; // 900px + padding-left 15px + padding-right 15px = 1020px
  margin: 0 auto;
  padding: 0 1.5rem;

  &--sm {
    max-width: 93rem;
  }
}

// LOGO
.logo {
  width: 13.8rem;
}

// BUTTONS
.btn {
  font-weight: $bold;
  width: 24rem;
  height: $control-height;
  border-radius: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.btn--cta {
  color: $color-white;
  background-color: $color-primary;
  box-shadow: $shadow-primary;
  transition: $transition-hover;

  &:hover,
  &:active {
    filter: opacity(70%);
  }

  &:active {
    box-shadow: $shadow-primary--sm;
    transform: translate(0, 3px);
  }
}
