.user-profile__btn {
  width: 5rem;
  height: 5rem;
  border: 2px solid transparent;
  border-radius: 50%;
  display: block;
  cursor: pointer;
  transition: $transition-hover;

  &:hover {
    border: 2px solid $color-primary;
  }
}
