// HEADER
.header {
  padding-top: 2.5rem;

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2.5rem;

    border-bottom: 1px solid $color-neutral-light;
  }

  &__row--left {
    display: flex;
    gap: 5.5rem;
    align-items: center;

    // height: 100%;
  }

  &__row--right {
    display: flex;
    gap: 4rem;
  }
}
