// NAVIGATION
.nav {
  // display: flex;

  &__list {
    display: flex;
    gap: 3rem;
    align-items: center;
  }

  &__item {
    border-bottom: 4px solid transparent;
    transition: $transition-hover;
    padding-bottom: 3.6rem;

    &:hover {
      border-bottom: 4px solid $color-primary;
      color: $color-neutral-dark;
    }
  }
}

// .nav__item {
//   transition: $transition-hover;
//   &:hover {
//     border-bottom: 4px solid $color-primary;
//     color: $color-neutral-dark;
//   }
// }
