.product {
  padding-top: 9rem;

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 11rem;
  }

  // ???
  &__gallery {
  }

  // FIXME check different image sizes
  &__img {
    margin-bottom: 2.7rem;
    border-radius: 1rem;
    overflow: hidden;

    cursor: zoom-in;
  }

  &__thmb {
    display: flex;
    justify-content: space-between;

    &-btn {
      width: 7.8rem;
      height: 7.8rem;
      border-radius: 1.2rem;
      overflow: hidden;
      cursor: pointer;

      img {
        transition: $transition-hover;
      }

      &--current {
        border: 2px solid $color-primary;
        img {
          filter: opacity(0.5);
        }
      }

      &:hover {
        img {
          filter: opacity(0.7);
        }
      }
    }
  }

  &__aside {
    padding-top: 5.5rem;
  }

  &__brand {
    color: $color-primary;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
  }

  &__name {
    color: $color-neutral-dark;
    margin-bottom: 4rem;
  }

  &__description {
    font-size: 1.4rem;
    line-height: 1.6;
    margin-bottom: 3rem;
  }

  &__price-box {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    margin-bottom: 1.2rem;
  }

  &__price--final {
    color: $color-neutral-dark;
  }

  &__discount {
    color: $color-primary;
    background-color: $color-primary-light;
    padding: 0.6rem 1.2rem;
    border-radius: 0.6rem;
  }

  &__price {
    text-decoration: line-through;
    color: $color-neutral-light;
    margin-bottom: 3.5rem;
  }

  &__add-to-cart {
    display: flex;
    justify-content: space-between;
  }

  &__counter {
    background-color: $color-neutral-light-1;
    border-radius: 1rem;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__btn,
  &__count {
    height: $control-height;
    width: $control-height;
  }

  &__btn {
    transition: $transition-hover;
    cursor: pointer;

    &:hover,
    &:active {
      filter: opacity(70%);
    }
  }

  &__btn-icon {
    height: 1rem;
    width: 1rem;
    fill: $color-primary;
  }

  &__count {
    font-weight: $bold;
    color: $color-neutral-dark;
    text-align: center;

    &::placeholder {
      color: $color-neutral-light;
    }
  }
}
