//   // INFORMATION
//   &__info {
//     margin-top: 6.5rem;
//   }
//   &__brand {
//     color: $color-primary;
//     text-transform: uppercase;
//   }

//   &__name {
//     margin-top: 2.8rem;
//     color: $color-neutral-dark;
//   }

//   &__description {
//     margin-top: 5rem;
//   }

//   &__price-box {
//     margin-top: 3.5rem;
//     display: flex;
//     align-items: center;
//   }

//   &__final-price {
//     margin-right: 1.6rem;
//     color: $color-neutral-dark;
//   }

//   &__discount {
//     padding: 0.4rem 1.2rem;
//     color: $color-primary;
//     background-color: $color-primary-light;
//     border-radius: 0.6rem;
//   }

//   &__price {
//     margin-top: 1.4rem;
//     text-decoration: line-through;
//     color: $color-neutral-light;
//   }

//   // CART BUTTONS
//   &__cart-btns {
//     margin-top: 3.9rem;
//     display: flex;
//   }

//   &__counter {
//     margin-right: 1.6rem;
//     width: 15.6rem;
//     background-color: $color-neutral-light-1;
//     border-radius: 1rem;
//     overflow: hidden;

//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//   }

//   &__btn-reduce,
//   &__btn-add {
//     height: 100%;
//     width: 4rem;
//     border: none;
//     background-color: inherit;
//     cursor: pointer;
//   }

//   &__btn-icon {
//     height: 1rem;
//     width: 1rem;
//     fill: $color-primary;
//   }

//   &__count {
//     font-weight: 600;
//     color: $color-neutral-dark;
//   }

//   .cta {
//     box-shadow: $shadow-primary;
//   }
// }

.product {
  padding-top: 9rem;

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 11rem;
  }

  // ???
  &__gallery {
  }

  // FIXME different check image sizes
  &__img {
    margin-bottom: 2.7rem;
    border-radius: 1rem;
    overflow: hidden;

    cursor: zoom-in;
  }

  &__thmb {
    display: flex;
    justify-content: space-between;

    &-btn {
      width: 7.8rem;
      height: 7.8rem;
      border-radius: 1.2rem;
      overflow: hidden;
      cursor: pointer;

      img {
        transition: $transition-hover;
      }

      &--current {
        border: 2px solid $color-primary;
        img {
          filter: opacity(0.5);
        }
      }

      &:hover {
        img {
          filter: opacity(0.7);
        }
      }
    }
  }

  &__aside {
  }
}
